<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light d-flex justify-content-between">
    <div>
        <a class="navbar-brand" href="#">
            <img src="assets\images\Logo-removebg-preview.png" alt="">
        </a>
        <a class="navbar-brand text-dark" href="#">Parking GO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    

        <div class="buttons">
            <button class="btn btn-outline-success my-2 my-sm-0 mr-2 p-2 bd-highlight"
                type="submit">Sign In</button>
            <button class="btn btn-outline-success my-2 my-sm-0 p-2 bd-highlight" type="submit">Sign Up</button>

    </div>

    

</nav>


<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container-1">
            <h1 class="display-3">Parking GO</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos numquam, architecto ad unde id totam
                tenetur quae eligendi. Dicta alias a natus iure temporibus sapiente reprehenderit incidunt quae
                molestiae veniam?</p>
            <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
        </div>
    </div>

    <div class="container-2 ml-2">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive mb-3" src="assets\images\Image-1.jpeg">
                <p>There are parking spaces scattered across any city, but are difficult to find when you need them on
                    the go.</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive mb-3" src="assets\images\Image-2.jpeg">
                <p>Parking Go makes the job easy for you, by allowing you to book spots directly from your phone.</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive mb-3" src="assets\images\Image-3.jpeg">
                <p>You can also register slots owned by you, to be used by those in need of parking.</p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

<footer class="container">
    <p>&copy; Parking GO-2020</p>
</footer>